# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.venv/
env/
venv/
aauipcv/

# Data & large training artifacts
data/
datasets/
checkpoints/
samples/
*.pt
*.pth
*.onnx
*.ckpt

# Keep final results
!results/
!results/**/*.png
!results/**/*.pdf

# Notebooks/cache
.ipynb_checkpoints/

# OS/editor noise
.DS_Store
Thumbs.db
.vscode/

# Logs
logs/
